<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Hi</h2>
        </header>
        <p>I write <strong>code</strong>, play
        <br />
        <strong>rock n roll </strong> and
        <br />
        love my <strong>family</strong>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="/contact.html" class="button fit scrolly">Let's talk</a></li>
            </ul>
        </footer>

    </div>

</section>
