<header id="header">
				<h1 id="logo"><a href="/">Thomas Fitzpatrick <span>// Software Developer</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Hi</a></li>
						<li><a href="/contact.html">Contact</a></li>
						<li><a href="https://github.com/thomftz" target="_blank">GitHub</a></li>
						<li><a href="/#projects">Projects</a></li>
							<!-- <ul>
								<li><a href="https://github.com/thomftz/simon" target="_blank">Simon</a></li>
								<li><a href="https://github.com/thomftz/medium-crossover" target="_blank">Medium Copy</a></li>
								<li><a href="https://github.com/thomftz/nc_breweries" target="_blank">NC Beers</a></li>
								<li><a href="https://github.com/thomftz/android_207" target="_blank">Android 207</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#" class="button special">Sign Up</a></li>
					</ul> -->
				</nav>
			</header>
